NEXT_PUBLIC_DEMO_MODE=true
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
TURNSTILE_ENABLED=false
BOOKING_DATABASE_URL=
BOOKING_SUPABASE_URL=
BOOKING_SUPABASE_SERVICE_ROLE_KEY=
BOOKING_ENCRYPTION_KEY=
SUPABASE_SERVICE_ROLE_KEY=
PATIENT_API_BASE_URL=
PATIENT_API_SERVER_TOKEN=
AUTH_OTP_PROVIDER=test
AUTH_TEST_OTP=1234567
AUTH_OTP_TTL_MINUTES=5
AUTH_OTP_MAX_ATTEMPTS=5
ZALO_ZNS_ENDPOINT=
ZALO_ACCESS_TOKEN=
ZALO_TEMPLATE_ID=
